/* Importa a fonte 'Poppins' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define estilos básicos para todos os elementos */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estiliza o corpo da página */
body {
    background-color: #D9D9D9;
    width: 100vw;
    height: 100svh;
}

/* Estilo para a seção superior */
.top-section {
    padding: 20px;
    background-color: #D9D9D9;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.3s ease;
}

#notification {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 2;
    text-align: center;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para o contêiner do menu de busca */
.top-section .menu-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18%; /* Espaçamento entre o menu de busca e o título */
}

/* Estilo para as imagens dentro do menu de busca */
.top-section .menu-search img {
    width: 8%;
}

#inputSearch {
    display: none;
    width: 70%;
    height: auto;
    padding: 2px 0 2px 8px;
    position: absolute;
    right: 13%;
    border: 2px solid #000000;
    outline: none;
    background-color: #FFA500;
    color: #000000;
    font-weight: 500;
    border-radius: 10px;
    transition: .5s ease;
}

#inputSearch::placeholder {
    color: #000000;
}

/* Estilo para o título da seção superior */
.top-section h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.5rem;
}

/* Estilo para a seção inferior */
.bottom-section {
    padding: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #FFA500;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.3s ease;
}

/* Estilo para o contêiner dos ícones de filtro do menu */
.filter-icons-menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 20px;
}

/* Estilo para as imagens dentro do contêiner de ícones de filtro */
.bottom-section .filter-icons-menu img {
    width: 20%;
}

/* Estilo para o contêiner de detalhes do item */
.bottom-section .details-item {
    position: absolute;
    top: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
}

/* Estilo para a imagem do hambúrguer dentro do contêiner de detalhes do item */
.bottom-section .details-item .image-hamburg {
    float: left;
    margin-right: 5px;
    width: 20%;
}

/* Estilo para o ícone de adicionar dentro do contêiner de detalhes do item */
.bottom-section .details-item .icon-add {
    float: right;
    margin-left: 10px;
    width: 8%;
}

/* Estilo para o contêiner de texto dentro do contêiner de detalhes do item */
.bottom-section .details-item .text-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin: 0 10px;
}

/* Estilo para o título, parágrafo e subtítulo dentro do contêiner de detalhes do item */
.bottom-section .details-item h2, p, h3 {
    font-size: .9rem;
}

/* Estilo para a navegação inferior */
.bottom-navigation {
    z-index: 5;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 12%;
    background-color: #000000;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Espaçamento interno nas laterais */
}

/* Estilo para as imagens na navegação inferior */
.bottom-navigation img {
    width: 8%;
    filter: brightness(0) invert(1); /* Inverte as cores da imagem para branco */
}