/* Importa a fonte 'Poppins' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define estilos básicos para todos os elementos */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estiliza o corpo da página */
body {
    background-color: #D9D9D9;
    width: 100vw;
    height: 100vh;
}

#notification {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 2;
    text-align: center;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo base da div superior */
.top-section {
    padding: 20px;
    background-color: #D9D9D9;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.5s ease;
}

/* Define o tamanho e espaçamento entre o 'Boas-vindas!' e o botão */
.top-section h1 {
    font-size: 1.5rem;
    margin-bottom: 40%; /* Define um espaçamento entre o título e o botão */
}

/* Estilo básico e alinhamento do botão laranja */
.top-section #topButton {
    position: absolute;
    bottom: 20px; /* Alinha o botão no fim da div, mas deixa 20px de espaçamento */
    width: 90%;
    height: 20%;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #FFA500;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s; /* Transição suave de cor quando o mouse passa sobre o botão */
}

/* Estilo base da div inferior */
.bottom-section {
    padding: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #FFA500;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.5s ease;
}

/* Estilo e alinhamento do botão preto */
.bottom-section #bottomButton {
    position: absolute;
    top: 20px; /* Alinha o botão no início da div, mas deixa 20px de espaçamento */
    width: 90%;
    height: 20%;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s; /* Transição suave de tamanho quando clicado no botão */
}

.bottom-section .table-picker {
    display: none;
    width: 90%;
    height: 12%;
    position: absolute;
    top: 20%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #D9D9D9;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.5s;
}

.bottom-section .button-menu {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 12%;
    border: none;
    border-radius: 15px 15px 0 0;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
}

/* Efeito quando se clica nos botões */
.top-section #topButton:active {
    transform: scale(0.95); /* Reduz o tamanho do botão quando clicado */
}

/* Efeito quando se clica nos botões */
.bottom-section #bottomButton:active {
    transform: scale(0.95); /* Reduz o tamanho do botão quando clicado */
}

.bottom-section #buttonMenu:active {
    background-color: #635A58; /* Reduz o tamanho do botão quando clicado */
}

.aumentar-altura {
    height: 80vh !important; /* Altera a altura para 80vh */
}